<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/clientpanel?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">satyam2604</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property> <!-- or 'update' -->
        <mapping class="com.digicode.model.EmployeeModel" />
        <mapping class="com.digicode.model.TicketsModel" />
        <mapping class="com.digicode.model.TicketLogs" />
        <mapping class="com.digicode.model.TasksGroupModel" />
        <mapping class="com.digicode.model.RoleModel" />
        <mapping class="com.digicode.model.TaskSubgroupModel" />
        <mapping class="com.digicode.model.PlantModel" />
    </session-factory>
</hibernate-configuration>
