
    .card-equal-height {
        height: 100%;
    }

    .modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; 
        overflow: auto; 
        background-color: rgba(0,0,0,0.84); 
        padding-top: 60px; 
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto; 
        padding: 20px;
        border: 1px solid #888;
        width: 80%; 
        max-width: 800px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .chart-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .card-title {
        margin: 0;
        padding: 10px 0; 
        font-size: 1rem;
        text-align: center;
    }

    #severityChart {
        width: 60%; 
        height: auto;
        max-height: 70%;
    }

    #element {
        display: block;
        box-sizing: border-box;
        height: 304px;
        width: auto;
    }

    #element.hovered {
        width: 398px;
        height: auto;
    }

    #element.clicked {
        background-color: lightblue;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }

    .form-label {
        display: block;
        margin-bottom: 0.5rem;
    }

    .form-select, .form-control {
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ced4da;
    }

    .form-select:focus, .form-control:focus {
        border-color: #86b7fe;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .btn-primary {
        background-color: #007bff;
        color: #ffffff;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #0069d9;
    }

    .card {
        transition: transform 0.3s ease-in-out;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        cursor: pointer;
    }

    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        border-collapse: collapse;
    }

    .table th, .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        font-weight: revert-layer;
    }

    .table th {
        background-color: #f8f9fa;
        border-bottom: 2px solid #dee2e6;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0,0,0,.05);
    }

    .table-striped tbody tr:hover {
        background-color: rgba(0,0,0,.075);
    }

    .modal-content h2 {
       margin-top: 11px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: gray;
  margin-left: 9px;
    }
    
      .modal-content .close:hover,
    .modal-content .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-footer {
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
        color: #555;
    }

    .modal-footer a {
        color: #337ab7;
        text-decoration: none;
    }

    .modal-footer a:hover {
        text-decoration: underline;
    }
