<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Digi Code</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.digicode</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Digi Code</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/not-found-page.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.digicode.model.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveEmployeeServlet</display-name>
    <servlet-name>SaveEmployeeServlet</servlet-name>
    <servlet-class>com.digicode.model.SaveEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveEmployeeServlet</servlet-name>
    <url-pattern>/SaveEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.digicode.dao.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.digicode.controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.digicode.controller.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutservlet</display-name>
    <servlet-name>logoutservlet</servlet-name>
    <servlet-class>com.digicode.controller.logoutservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutservlet</servlet-name>
    <url-pattern>/logoutservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserPositionServlet</display-name>
    <servlet-name>CheckUserPositionServlet</servlet-name>
    <servlet-class>com.digicode.controller.CheckUserPositionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserPositionServlet</servlet-name>
    <url-pattern>/CheckUserPositionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTicketServlet</display-name>
    <servlet-name>UpdateTicketServlet</servlet-name>
    <servlet-class>com.digicode.controller.UpdateTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTicketServlet</servlet-name>
    <url-pattern>/UpdateTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketActionServlet</display-name>
    <servlet-name>TicketActionServlet</servlet-name>
    <servlet-class>com.digicode.servlet.TicketActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketActionServlet</servlet-name>
    <url-pattern>/TicketActionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTicketServlet1</display-name>
    <servlet-name>UpdateTicketServlet1</servlet-name>
    <servlet-class>com.digicode.controller.UpdateTicketServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTicketServlet1</servlet-name>
    <url-pattern>/UpdateTicketServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketActionServlet1</display-name>
    <servlet-name>TicketActionServlet1</servlet-name>
    <servlet-class>com.digicode.controller.TicketActionServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketActionServlet1</servlet-name>
    <url-pattern>/TicketActionServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchUsersServlet</display-name>
    <servlet-name>FetchUsersServlet</servlet-name>
    <servlet-class>com.digicode.controller.FetchUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchUsersServlet</servlet-name>
    <url-pattern>/FetchUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileServlet</display-name>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>com.digicode.controller.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.digicode.controller.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketLogsService</display-name>
    <servlet-name>TicketLogsService</servlet-name>
    <servlet-class>com.digicode.controller.TicketLogsService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketLogsService</servlet-name>
    <url-pattern>/TicketLogsService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketDetailsServlet</display-name>
    <servlet-name>TicketDetailsServlet</servlet-name>
    <servlet-class>com.digicode.controller.TicketDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketDetailsServlet</servlet-name>
    <url-pattern>/TicketDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskServlet</display-name>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>com.digicode.controller.TaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/TaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarkTicketAsReadServlet</display-name>
    <servlet-name>MarkTicketAsReadServlet</servlet-name>
    <servlet-class>com.digicode.controller.MarkTicketAsReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarkTicketAsReadServlet</servlet-name>
    <url-pattern>/MarkTicketAsReadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarkNotificationsReadServlet</display-name>
    <servlet-name>MarkNotificationsReadServlet</servlet-name>
    <servlet-class>com.digicode.controller.MarkNotificationsReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarkNotificationsReadServlet</servlet-name>
    <url-pattern>/MarkNotificationsReadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadProfilePictureServlet</display-name>
    <servlet-name>UploadProfilePictureServlet</servlet-name>
    <servlet-class>com.digicode.controller.UploadProfilePictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadProfilePictureServlet</servlet-name>
    <url-pattern>/UploadProfilePictureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDashboardServlet</display-name>
    <servlet-name>EmployeeDashboardServlet</servlet-name>
    <servlet-class>com.digicode.controller.EmployeeDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDashboardServlet</servlet-name>
    <url-pattern>/EmployeeDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeProfileServlet</display-name>
    <servlet-name>EmployeeProfileServlet</servlet-name>
    <servlet-class>com.digicode.controller.EmployeeProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeProfileServlet</servlet-name>
    <url-pattern>/EmployeeProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetailsServlet</display-name>
    <servlet-name>UserDetailsServlet</servlet-name>
    <servlet-class>com.digicode.controller.UserDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailsServlet</servlet-name>
    <url-pattern>/UserDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchChartDataServlet</display-name>
    <servlet-name>FetchChartDataServlet</servlet-name>
    <servlet-class>com.digicode.controller.FetchChartDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchChartDataServlet</servlet-name>
    <url-pattern>/FetchChartDataServlet</url-pattern>
  </servlet-mapping>
</web-app>